MONGO_URI=
MONGO_DATABASE_NAME=
AUTH_SECRET_KEY=
AUTH_ALGORITHM=
API_URL=
APP_CLIENT_URL=
CORS_ALLOWED_ORIGINS=
API_VERSION=
MFA_SECRET_KEY=
EXPIRATION_MFA_OTP_CODE_IN_SECONDS=
TRACKING_LOG_PII=false
NOTIFICATION_HTTP_BASE_URL=
NOTIFICATION_HTTP_API_KEY=
